@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --primary: #f69432;
  --primary-foreground: oklch(0 0 0);
  --input: oklch(0.92 0.004 286.32);
  --border: oklch(0.92 0.004 286.32);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --primary: #f69432;
  --primary-foreground: oklch(0 0 0);
  --input: oklch(1 0 0 / 15%);
  --border: oklch(1 0 0 / 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-input: var(--input);
  --color-border: var(--border);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-border/50;
  }
  body {
    @apply text-foreground bg-neutral-900 font-sans;
  }
  html {
    font-size: 18px;
    @apply font-sans;
  }
}

@layer components {
  .btn {
    @apply bg-primary text-primary-foreground rounded-md px-4 py-1;
    @apply hover:opacity-90;
  }
}
